@import "tailwindcss";

@theme {
  --color-surface-base: #09090b;
  --color-surface-1: #18181b;
  --color-surface-2: #27272a;
  --color-border: #3f3f46;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a1a1aa;
  --color-text-tertiary: #71717a;
  --color-accent: #3b82f6;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #09090b;
  color: #e5e1e4;
  -webkit-font-smoothing: antialiased;
}

.font-mono-data {
  font-family: 'JetBrains Mono', monospace;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.nav-item-active .material-symbols-outlined {
  font-variation-settings: 'FILL' 1;
}

::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #3f3f46; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #52525b; }

table { border-collapse: collapse; }
